@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fdfdff;
  background-color: #040B1D;  /* Set the base background color */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: block; 
  min-height: 100vh;
  width: 100vw;
  background-color: #040B1D;  /* Set the body background color */
  color: #fdfdff;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

